<!DOCTYPE html>
<html>
  <head>
    <title>PMexchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Portland Music Exchange</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", root_path%></a></li>
      <li><%=link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "Postings", posts_path%></li>
    </ul>
  </div>
</nav>
  
  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

  <%= yield %>

  
    
  </body>
</html>
